#NSA {
    background-image: url('../../images/MyFolders/MyImages/11128059_10205450542775553_9169600314338715778_n.jpg');
    background-clip: content-box;
    background-size: inherit;
    background-position:top;
    background-repeat:no-repeat;
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    height:300px;
    color:white;
    text-justify:inter-cluster;
    background-color:white;
}

.NSA-header{
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
    padding-right:10px;
    color:white;
    justify-content:center;
    text-anchor:inherit;

   


   
       




